In [1]:
import pandas as pd

In [10]:
fire = pd.read_csv('master_fire_incidents_location.csv')

In [11]:
fire.head()

,ID,ORIGINAL_ADDRESS,MATCH,MATCH_TYPE,MATCHED_ADDRESS,X,Y,TIGER_LINE_ID,TIGER_LINE_SIDE
0,rcp2_id1868,"300 Navaho ST, Enterprise, AL, 36331",No_Match,NaN,NaN,NaN,NaN,NaN,NaN
1,rcp2_id9390,"253 BALD ROCK RD, BERRY_CRK, CA, 95934",No_Match,NaN,NaN,NaN,NaN,NaN,NaN
2,rcp2_id1869,"105 Yellowleaf DR, Enterprise, AL, 36331",Match,Non_Exact,"105 YELLOWLEAF DR, ENTERPRISE, AL, 36330",-85.807050,31.328058,99550660.0,L
3,rcp2_id9391,"464 SHELDON AVE, GRDLY, CA, 95956",Match,Non_Exact,"464 SHELDON AVE, GRIDLEY, CA, 95948",-121.666460,39.350815,636052867.0,R
4,rcp2_id9392,"11336 YANKEE HILL RD, CONCOW, CA, 95965",Match,Non_Exact,"11336 YANKEE HILL RD, YANKEE HILL, CA, 95965",-121.520836,39.712353,68417518.0,R